@use '../util/breakpoints.scss' as *;
@use '../util/functions.scss' as *;
@use '../util/mixins.scss' as *;

.addOns {

    &__header {
        .description {
            color: var(--cool-gray);
        }
    }

    &__ctn {
        .active {
            border: 2px solid var(--purplish-blue);
        }
        .container {
            position: relative;
            cursor: pointer;
          }
          
          /* Hide the browser's default checkbox */
          .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          
          /* Create a custom checkbox */
          .checkmark {
            position: absolute;
            top: 50%;
            transform: translate(50%, -50%);
            // left: 20px;
            height: 20px;
            width: 20px;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid var(--light-gray);
          }
          
          /* On mouse-over, add a grey background color */
          .container:hover input ~ .checkmark {
            background-color: #fefefe;
          }
          
          /* When the checkbox is checked, add a blue background */
          .container input:checked ~ .checkmark {
            background-color: var(--purplish-blue);
            border: none;
          }
          
          /* Create the checkmark/indicator (hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
          
          /* Show the checkmark when checked */
          .container input:checked ~ .checkmark:after {
            display: block;
          }
          
          /* Style the checkmark/indicator */
          .container .checkmark:after {
            left: 7px;
            top: 3px;
            width: 6px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 4px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          
        &--card {
            border: 2px solid var(--light-gray);
            border-radius: 8px;
            cursor: pointer;
            @include transition;

            @include breakpoint-up(large) {
              &.hover {
                &:hover {
                  border: 2px solid var(--purplish-blue);
                }
              }
            }

            &__priceCtn {
                .price {
                    color: var(--purplish-blue);
                }
            }
        }
    }
}