@use '../util/breakpoints.scss' as *;
@use '../util/functions.scss' as *;
@use '../util/mixins.scss' as *;


.finish {
    .g {
        color: var(--cool-gray);
    }

    &__header {
        .description {
            color: var(--cool-gray);
        }
    }

    &__ctn {
        background-color: #F8F9FE;

        &--left, &--right {
            p {
                padding: rem(10) 0 rem(10) 0;
            }
        }
    }

    &__totalCtn {

        .totalWriteUp {
            color: var(--cool-gray);
        }
    }
}

.btn_hover {
    @include transition;
    &:hover {
        opacity: .75;
    }
}

a {
    @include transition;
    &:hover {
        color: var(--marine-blue) !important;
    }
}