@use '../util/breakpoints.scss' as *;
@use '../util/functions.scss' as *;
@use '../util/mixins.scss' as *;


body {
    @include breakpoint-down(medium) {
        background-color: var(--light-gray);
    }
}

.mobile__nav {
    height: rem(200);
    background: url(/assets/images/bg-sidebar-mobile.svg) no-repeat;
    background-size: 100%;

    .steps__ctn {
        p {
            color: #fff;
            font-size: .95rem;
            font-weight: 700;
            border: 1px solid #fff;
            border-radius: 100%;
            padding: rem(11.5) rem(19);
        }

        .active {
            background-color: var(--light-blue);
            color: #000 !important;
            border: none !important;
        }
        
    }
}

.desktop__navbar {

    .steps__ctn {
        color: #fff;
        .step {
            display: flex;
            column-gap: rem(20);
            &:not(:last-child) {
                margin-bottom: rem(35);
            }

            .active {
                background-color: var(--light-blue);
                color: #000 !important;
                border: none !important;
            }
            .number {
                font-size: 1.2rem;
                font-weight: 700;
                border: 1px solid #fff;
                border-radius: 100%;
                padding: rem(7) rem(18);
            }

            .step__id {
                color: var(--light-gray);
            }
            .description {
                font-weight: 700;
            }
        }
    }
}


.form {
    background-color: #fff;
    width: 92%;

    &__header {
        .description {
            color: var(--cool-gray);
        }
    }
    
    .errorMsg {
        color: var(--straw-red);
    }

    input {
        border: 1px solid var(--cool-gray);
        border-radius: rem(5);
        @include transition;

        &:focus {
            outline: none !important;
            border: 1px solid var(--marine-blue) !important;
        }
    }

    .red {
        border: 1px solid var(--straw-red) !important;
    }
}

.btn__ctn {
    bottom: 0 !important;

    button {
        background-color: var(--marine-blue) !important;
    }
}